// Typography
// —————————————————————————————————

// $font-path: "../fonts/";
// $example-list:  example-1,
//               example-2;

// @each $current-font in $example-list {
//   @font-face {
//     font-family: $current-font;
//     src:  url(#{$font-path}/example/#{$current-font}.eot);
//     src:  url(#{$font-path}/example/#{$current-font}.eot?#iefix) format('embedded-opentype'),
//           url(#{$font-path}/example/#{$current-font}.woff) format('woff'),
//           url(#{$font-path}/example/#{$current-font}.ttf) format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }
// }

// $ff-regular: "example-2", 'Helvetica Neue', Helvetica, sans-serif;
// $ff-medium: "example-1", 'Helvetica Neue', Helvetica, sans-serif;


//== Mixins usage
@mixin font($size, $weight: normal){
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

  font-size: $size;
  font-weight: $weight;
}


//== Basic
body { @include font(14px) }
a { cursor: pointer }