{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "argsIgnorePattern": "^_" }],
    "max-len": ["error", { "code": 120, "tabWidth": 2, "comments": 200 }],
    "quotes": ["error", "single"],
    "arrow-parens": ["off"],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "ignore"
    }],
    "no-restricted-syntax": "off",
    "consistent-return": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": ["error", { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "no-use-before-define": "off",
    "no-multi-spaces": "error",
    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,
    "react/jsx-no-bind": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/sort-comp": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "new-cap": "off",
    "babel/new-cap": "off",
    "arrow-body-style": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [ ".js", ".jsx", ".ts", ".tsx" ]
      }
    }
  },
  "plugins": [
    "babel",
    "import",
    "promise",
    "react"
  ]
}
