// Variables
// —————————————————————————————————

//== Base
$gutter: 10px;
$border-radius: 4px;
$img-path: "../../static/";

//== Colors
$red: #FF5F5C;


//== Z-indexes
$zindex-ultime: 1000;
$zindex-supra: 100;
$zindex-ultra: 10;
$zindex-mega: 9;
$zindex-huge: 4;
$zindex-large: 3;
$zindex-medium: 2;
$zindex-small: 1;
$zindex-null: 0;


//== Global variables
$body-bkg: #fff;
$osbar-height: 20px;
$app-size: 50px;
